<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/landing-page.css">
    <script src="https://kit.fontawesome.com/b30ea4e9d7.js" crossorigin="anonymous"></script>
    <title>MessageMe</title>
</head>
<body> 
    <div class="dark-overlay">
        <div class="container landing-page-container">
            <div class="landing-page-top">
                <h1 class="app-title">MessageMe <i class="far fa-comments"></i></h1>
                <p>Chat Application created by Bartłomiej Wilczyński using node.js, express.js and socket.io</p>
                <a href="/chat-start" class="btn light-blue">Let's start <i class="fas fa-chevron-right"></i></a>
                <a href="https://github.com/bartekw2213/MessageMe" class="btn dark-blue"><i class="fab fa-github"></i> GitHub code <i class="fas fa-chevron-right"></i></a>
            </div>
            <div class="landing-page-bottom">
                <i class="fab fa-node-js"></i>
                <img class="svg-icon" src="/img/socket-io.svg" />
                <img class="svg-icon" src="/img/express.svg" />
            </div>
        </div>
    </div>
</body>
</html>